# Logs
logs
config
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

# Translations
*.mo

# Data
.ipynb_checkpoints

# Sphinx documentation

# Hidden files
.*

# ...except these
!.gitignore
!.travis.yml

# Football data folders (PRIVATE)
viz/
wrappers/